@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body {
    background-color: #26233A;
    font-family: 'Pixelify Sans', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #393552;
    padding: 1em;
}

.navbar a {
    color: magenta;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: magenta;
    color: white;
}
